body
{
    color: darkviolet;
    text-align: center;
    font-family: "Arial";
    margin: 0;
    padding: 0;

}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}